body {
    background-color: #F6F1F1;
    color: #000000;
    min-height: 98vh;
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    flex-direction: row;
    height: auto;
    background-color: #19A7CE;
    color: #000000;
    border-radius: 0% 0% 0% 30%;
}

header > div > * {
    padding: auto;
    margin-top: auto 0;
    padding: auto;
    margin-left: 3vw;
}

header > div > p {
    padding-bottom: 10px;
}

header > img {
    min-height: 120px;
    height: 10vh;
    margin: 2vh;
    margin-left: auto;
    border-radius: 5%;
}

header.bez_zdjecia > div {
    margin: auto;
    padding-bottom: 20px;
    justify-content: space-evenly;
}

div.projekt {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: auto;
    border-radius: 5%;
}

div.projekt > * {
    margin: auto;
}

div.projekt img {
    margin-left: auto;
    margin-right: auto;
    border-radius: 10%;
    border: #146C94;
}

@media only screen and (max-width: 500px) {
    #projekty {
        flex-direction: column;
        flex-wrap: wrap;
    }
    
    div.projekt {
        margin: auto;
        width: 90vw;
    }
    
    div.projekt img {
        width: 60vw;
    }
    
    div.projekt > * {
        margin: auto;
    }
}

@media only screen and (min-width: 501px) {
    #projekty {
        margin-top: auto;
        flex-direction: row;
        flex-wrap: wrap;
    }
    
    div.projekt {
        margin: auto;
        width: 30vw;
    }
    
    div.projekt img {
        width: 27vw;
    }
    
    div.projekt > * {
        margin: auto;
    }
}

div.projekt img:hover, div.project:active {
    border: 5px solid #146C94;
}

footer {
    margin-top: auto;
    padding-top: 10px;
    background-color: #19A7CE;
    color: #000000;
    border-radius: 0% 30% 0% 0%;
    text-align: center;
}

main {
    display: flex;
    flex-direction: column;
    margin-top: auto 0;
    padding: 10px;
    justify-content: flex-start;
    padding
}

#projekty {
    display: flex;
    justify-content: space-evenly;
}

#galeria {
    flex-grow: 1;
    margin: auto;
}

@media only screen and (min-width: 501px) {
    #galeria {
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        grid-template-rows: repeat(4, 1fr);
        grid-gap: 2vmin;
        justify-items: center;
        align-items: center;
    }
    
    img {
        z-index: 1;
        grid-column: span 2;
        max-width: 100%;
        margin-bottom: -24%;
        clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
        transform: scale(1);
        transition: all .25s;
  
        &:nth-child(7n + 1) {
            grid-column: 2 / span 2;
        }
  
        &:hover {
            z-index: 2;
            transform: scale(2);
        }
    }
}

a:link {
    color: #000000;
}

a:visited {
    color: #000000;
}
