body {
    background-color: #F6F1F1;
    color: #000000;
    width: fit-content;
    height: fit-content;
}

header > h1 {
    position: absolute;
    top: 5%;
    left: 5%;
}

header > p {
    position: absolute;
    top: 40%;
    left: 5%;
}

header {
    position: absolute;
    top: 0;
    width: 100%;
    height: 120px;
    left: 0;
    right: 0;
    padding-left: 10px;
    padding-top: 5px;
    margin-top: 0px;
    padding-right: 0px;
    padding-bottom: 10px;
    margin-bottom: 0px;
    background-color: #19A7CE;
    color: #000000;
    border-radius: 0% 0% 0% 30%;
}


header.bez_zdjecia {
    height: 100px;
    text-align: center;
}

div.projekt {
    margin: 2px;
    padding: 0px;
    float: top;
    width: 94vw;
    border: 2px solid #146C94;
    border-radius: 5%;
}

div.projekt img {
    position: relative;
    margin: 20px;
    padding: auto;
    border-radius: 10%;
    width: 50%;
    height: auto;
    border: #146C94;
}

div.projekt img:hover {
    border: 5px solid #146C94;
    margin: 15px;
}

div.projekt p {
    text-align: center;
    padding: 1%;
}

footer {
    margin: 0px;
    bottom: 0;
    position: absolute;
    width: 99vw;
    height: 120px;
    left: 0;
    right: 0;
    padding: 5px;
    background-color: #19A7CE;
    color: #000000;
    border-radius: 0% 30% 0% 0%;
    text-align: center;
}

img {
    position: absolute;
    top: 10px;
    right: 20px;
	height: 100%;
    border-radius: 15% 5% 15% 30%;
}

main {
    position: absolute;
    top: 120px;
    display: block;
}

a:link {
    color: #000000;
}

a:visited {
    color: #000000;
}
